.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#reservar-mesas {
    background-color: #171718;
    padding: 30px;
    border-radius: 40px;
    display: grid;
    gap: 30px;
    width: 70%;
}

.campo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: white;
    font-size: 23px;
}

label {
    text-shadow: 2px 2px black;
}

.campo input {
    padding: 10px;
    width: 90%;
    border-radius: 20px;
    border: 4px solid orange;
    font-size: 18px;
}

.confirmar-reserva-btn {
    padding: 15px;
    text-decoration: none;
    background-color: orange;
    border-radius: 999px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid rgb(168, 167, 166);
    text-shadow: 2px 2px black;
}

.react-tel-input .form-control {
  padding: 20px;
  padding-left: 50px;
  border-radius: 20px;
  border: 4px solid orange;
  font-size: 18px;
}

.react-tel-input .flag-dropdown {
  border: 4px solid orange;
  color: black;
}
