* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}


main {
    height: 100vh;
    background-image: url('/assets/banda.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.overlay {
    background-color: rgba(0, 0, 0, 80%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#no-on-phone {
    display: none;
}

@media (min-width: 768px) {
    #on-phone {
        display: none;
    }

    #no-on-phone {
        display: block;
    }
}
@media screen and (max-width: 412px) {
  .reserva h2 { font-size: 42px; }
  .reserva h3 { font-size: 24px; }
  .campo { font-size: 18px; }
  .campo input { font-size: 16px; }
  .comenzar-reserva-btn,
  .confirmar-reserva-btn {
    font-size: 20px;
    padding: 12px;
  }
}
